.input {
    display: flex;
    flex-direction: column;
}

.input label {
    color: #767676;
}

.input input {
    border: 2px solid #AAAAAA;
    border-radius: 4px;

    height: 3em;
    padding: 20px;
    margin: 1% 0 1%;
}