button {
    background: #0DBDBD;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2.5rem;
    background-color: #0DBDBD;
    border-radius: 10px;
    cursor: pointer;
    padding: 1%;
    text-decoration: none;
}

.buttonSucess button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 5em;
    height: 4em;
}


@media (max-width: 768px) {

    .button{
        display: flex;
        margin-top: 5%;
        width: 100%;
        background: #0DBDBD;
        justify-content: center;
        border-radius: 10px;
        margin-top: 5%;

        
    }

    .buttonSucess button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        width: 5em;
        height: 2em;

    }
    

    .buttonSucess{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0DBDBD;
        width: 100%;
        padding:0 10%;
        cursor: pointer;
        border-radius: 10px;
    }

    button {
        width: 15em;
    }
}